@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');

body
{
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,139,160,1) 50%, rgba(20,93,160,1) 100%);
    max-width: 100%;
    margin: auto;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.header{
    width: 100%;
}

footer p{
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    color: white;
}


.header .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Port Lligat Slab", serif;
    font-weight: 400;
    font-style: normal;
}

.header .routes{
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}

.header .routes .right, .header .routes .left{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header .routes a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.header .routes a:hover{
    color:rgba(20,139,160,1);
    background: #ccc;
    
}

.movies-container {
    margin: 50px 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.movie-card {
    position: relative;
    flex-basis: calc(33.33% - 20px);
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.movie-card:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.movie-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
    filter: brightness(40%);
}

.movie-name {
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 2;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
}

/*overview_projections*/
.movie-spec-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    padding: 20px;
    margin: auto;
}

.movie-spec {
    width: 48%;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    justify-content: center;  
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden; 
    border-radius: 15px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}


.projections-container {
    width: 96%;
    padding: 20px;
    margin: auto;
}

.projections {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 10px; 
    table-layout: fixed;
    text-align: middle;
}

.projections th, .projections td {
    padding: 10px 20px; 
    text-align: center;
}

.projections tbody tr {
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
}

.projections tbody tr:hover {
    color:rgba(20,139,160,1);
    background: #ccc; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.projections tbody tr td {
    border-top: 1px solid #f2f2f2; 
    border-bottom: 1px solid #f2f2f2; 
}

.projections th:first-child, .projections td:first-child {
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px; 
}

.projections th:last-child, .projections td:last-child {
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 
}

/*newRegistration_1*/

.newReservation1-container {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
}

.newReservation1 {
    display: inline-block;
    vertical-align: top;
    justify-content: space-between;
}

#leftbox {
    float: left;
    width: 33%;
}

#middlebox {
    float: left;
    width: 33%;
}

#midbox {
    width: 50%;
}

#rightbox {
    float: right;
    width: 33%;
}

#rightbox2 {
    float: right;
    width: 65%;
}

.newReservation1_header, .checkout{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.hall-container {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: auto;
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    padding: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row{
    display: flex;
}

.seat.selected{
    background-color: #6feaf6;
}

.seat.taken{
    background-color: #9d9b9b;
}

.seat.taken2{
    background-color: #9d9b9b;
}

.seat.delete{
    background-color: #c34747;
}

.row:first-child .seat {
    margin-bottom: 20px; 
}

.row:last-child .seat {
    margin-top: 20px; 
}

.seat:not(.taken):hover {
    transform: scale(1.2);
}

.showcase .seat:not(.taken):hover {
    transform: scale(1);
}

.showcase {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 5px;
}

.price {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove default padding */
}

.price li {
    padding-left: 25px; /* Add space for custom bullet */
    position: relative; /* Positioning context for pseudo-element */
}

.price li::before {
    content: ''; /* Default empty content */
    position: absolute; /* Position relative to parent li */
    left: 0; /* Align to left */
    font-size: 18px; /* Adjust size */
}

.price li.positive::before {
    content: '+';
    padding-right: 10px; /* Add space between bullet and text */
}

.price li.negative::before {
    content: '-';
    padding-right: 10px; /* Add space between bullet and text */
}

.price li.positive::before {
    content: '+';
}

.price li.negative::before {
    content: '-';
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.hall-cont {
    perspective: 1000px;
    margin-bottom: 30px;
}

.confirm_reservation {
    justify-content: flex-end;
    display: flex;
}

button, .buttons a {
    float: right;
    background: #706d6d;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.buttons button:hover, .buttons a:hover {
    opacity: .7;
}


.buttons{
    display: flex;
    justify-content: flex-end;
}

.qr-container
{
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.reservations {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 10px; 
    table-layout: fixed;
    text-align: middle;
}

.reservations th, .reservations td {
    padding: 10px 20px; 
    text-align: center;
}

.reservations tbody tr {
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
}

.reservations tbody tr td {
    border-top: 1px solid #f2f2f2; 
    border-bottom: 1px solid #f2f2f2; 
}

.reservations th:first-child, .reservations td:first-child {
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px; 
}

.reservations th:last-child, .reservations td:last-child {
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 
}

.table-reservations {
    width: 96%;
    padding: 20px;
    margin: auto;
}

